<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
  <div id="login-container">
      <div class="login-body"></div>{# not used for anything but styling! #}
      <div class="grad"></div>{# not used for anything but styling! #}
      <br>
      <form action="/register/" method="post" name="register">
          <div class="header register">
            <div>beer<span>money</span></div>
            <div id="who">who are ya?</div>
          </div>
          {{ form.hidden_tag() }}
                <div class="register">
                        {{ form.email(placeholder="email",size=150) }}
                        {{ form.username(placeholder="username",size=80) }}
                        {{ form.password(placeholder="password",size=80) }}
                </div>
                <div id="register">
                    <input type="submit" value="Register" />
                </div>
      </form>
  </div>
{% endblock %}
